{%load static%}
<div class="flex flex-col min-h-[100dvh]">
    <main class="flex-1">
      <section class="w-full pb-12 md:pb-24 lg:pb-32 text-white bg-red-600" style="background-image: url(imagseOne.png); background-position: center;">
        <div class="container px-4 md:px-6">
          <div class="grid gap-6 lg:grid-cols-[1fr_400px] lg:gap-12 xl:grid-cols-[1fr_600px]">
            <div class="flex flex-col justify-center space-y-4">
              <div class="space-y-2">
                <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none">
                  Delicious food, delivered.
                </h1>
                <p class="max-w-[600px] text-muted-foreground md:text-xl">
                  Order your favorite McDonald's menu items for delivery or pickup.
                </p>
              </div>
              <div class="flex flex-col gap-2 min-[400px]:flex-row">
                <a href="#" class="satisfy-regular inline-flex  items-center justify-center rounded-md bg-yellow-300 px-8 py-2 text-3xl font-bold text-red-600 shadow transition-colors hover:bg-yellow-400 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
                  Order Now
                </a>
              </div>
            </div>
            <img clas="box" src="{%static 'images/image.png'%}" alt="Hero" class="w-full scale-[1.4] translate-y-[35%]">
          </div>
        </div>
      </section>
     
    </main>
  </div>